.ipynb_checkpoints

.vscode/settings.json
study/dataset/__init__.py
study/dataset/cactus_gray.png
study/dataset/cactus.png
study/dataset/mnist.pkl
study/dataset/mnist.py
study/dataset/t10k-images-idx3-ubyte.gz
study/dataset/t10k-labels-idx1-ubyte.gz
study/dataset/train-images-idx3-ubyte.gz
study/dataset/train-labels-idx1-ubyte.gz
study/dataset/__pycache__/__init__.cpython-36.pyc
study/dataset/__pycache__/mnist.cpython-36.pyc
study/__pycache__/DD_08_02_gradient2d.cpython-36.pyc
study/common/__init__.py
study/common/functions.py
study/common/gradient.py
study/common/layers.py
study/common/multi_layer_net_extend.py
study/common/multi_layer_net.py
study/common/optimizer.py
study/common/trainer.py
study/common/util.py
study/common/__pycache__/__init__.cpython-36.pyc
study/common/__pycache__/functions.cpython-36.pyc
study/common/__pycache__/gradient.cpython-36.pyc
study/common/__pycache__/util.cpython-36.pyc
study/common/__pycache__/layers.cpython-36.pyc
study/__pycache__/DD_15_01_twoLayerNet.cpython-36.pyc
study/__pycache__/DD_10_01_twoLayerNet.cpython-36.pyc
study/common/__pycache__/multi_layer_net.cpython-36.pyc
study/common/__pycache__/multi_layer_net.cpython-36.pyc
study/common/__pycache__/optimizer.cpython-36.pyc
DL_study/__pycache__/DD_08_02_gradient2d.cpython-36.pyc
DL_study/__pycache__/DD_10_01_twoLayerNet.cpython-36.pyc
DL_study/__pycache__/DD_15_01_twoLayerNet.cpython-36.pyc
DL_study/common/__pycache__/__init__.cpython-36.pyc
DL_study/common/__pycache__/functions.cpython-36.pyc
DL_study/common/__pycache__/gradient.cpython-36.pyc
DL_study/common/__pycache__/layers.cpython-36.pyc
DL_study/common/__pycache__/multi_layer_net.cpython-36.pyc
DL_study/common/__pycache__/optimizer.cpython-36.pyc
DL_study/common/__pycache__/util.cpython-36.pyc
DL_study/dataset/t10k-images-idx3-ubyte.gz
DL_study/dataset/t10k-labels-idx1-ubyte.gz
DL_study/dataset/train-images-idx3-ubyte.gz
DL_study/dataset/train-labels-idx1-ubyte.gz
DL_study/dataset/__pycache__/__init__.cpython-36.pyc
DL_study/dataset/__pycache__/mnist.cpython-36.pyc
DL_study/dataset/mnist.pkl
/.idea/.gitignore
/PycharmProjects/tensorflowProject/.idea/.gitignore
/.idea/misc.xml
/PycharmProjects/tensorflowProject/.idea/misc.xml
/.idea/ml.iml
/.idea/modules.xml
/PycharmProjects/tensorflowProject/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/PycharmProjects/tensorflowProject/.idea/inspectionProfiles/profiles_settings.xml
/PycharmProjects/tensorflowProject/.idea/tensorflowProject.iml
/.idea/vcs.xml
